<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <!-- Identity Name must match Partner Center Product identity Package/Identity/Name -->
  <Identity
    Name="OrivraaLTD.Orivraa"
    Publisher="CN=B2A437AC-7FFC-46EE-8124-FF5F92077F5E"
    Version="0.2.6.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Orivraa</DisplayName>
    <PublisherDisplayName>Orivraa LTD</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="Orivraa" Executable="Orivraa.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Orivraa"
        Description="Orivraa - Jewellery Business Suite"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MedTile.png"
        Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
